.games-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 80px;
  
    .game-card {
      background-color: #ffffff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 20px;
      width: calc(33.33% - 20px);
      height: 250px;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        transform: translateY(-5px);
      }
  
      .game-image {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
  
      .game-details {
        padding: 0 20px;
        margin-top: 100px;
  
        .game-title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }
  
        .game-description {
          font-size: 16px;
          margin-bottom: 10px;
        }
  
        .game-info {
          display: flex;
          flex-wrap: wrap;
          font-size: 14px;
          margin-bottom: 5px;
  
          span {
            margin-right: 10px;
            display: inline-flex;
            align-items: center;
            margin-bottom: 5px;
  
            svg {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  