hr{
    margin: 20px 0px;
    border: none;
    height: 0.5px;
    background-color: lightgray ;
  }
.btn{
  padding: 7px;
  border-radius: 5px;
  background-color: #5271ff;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  height: 2rem;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
.btn:hover{
  cursor: pointer;
    color: #5271ff;
    background-color: transparent;
    border : 2px solid  #5271ff;

}

  