.mapbox-container {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .location-button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
  }
  
  .location-button:hover {
    background-color: #333;
    color: #fff;
  }
  .mapboxgl-map {
    cursor: pointer;
  }
  