 .setAsMainButton {
     border: none;
     padding: 7px;
     border-radius: 5px;
     background-color: #5271ff;
     font-weight: 500;
     padding-left: 14px;
     padding-right: 14px;
     height: 2rem;
     margin-right: 12px;
     cursor: pointer;
     color: white;
 }

 .setAsMainButton:hover {
     cursor: pointer;
     color: #5271ff;
     background-color: transparent;
     border: 2px solid #5271ff;
 }

 .setAsMainButton:disabled {
     color: #000;
     background-color: #c3c3c3;
     border: 2px solid #c3c3c3;
     cursor: not-allowed;
 }

 .deleteButton {
     border: none;
     padding: 7px;
     border-radius: 5px;
     background-color: #ff5252;
     font-weight: 500;
     padding-left: 14px;
     padding-right: 14px;
     height: 2rem;
     margin-right: 12px;
     cursor: pointer;
     color: white;
 }

 .deleteButton:hover {
     cursor: pointer;
     color: #ff5252;
     background-color: transparent;
     border: 2px solid #ff5252;
 }