.rightBar{
    flex:3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .container{
        padding: 20px;

        .item{
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
            padding: 20px;
             border-radius: 10px;
            margin-bottom: 20px;
            span{
                color: gray;
            }
            .user{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;
                .userInfo{
                    display: flex;
                    align-items: center;
                    gap:20px;
                    img{
                        width: 40%;
                        height: 40px;
                        border-radius:50% ;
                        object-fit: cover;
                    }
                    span{
                        font-weight: 600;
                        color: black;
                    }

                }
                .buttons{
                    display: flex;
                    align-items: center;
                    gap:10px;
                    button{
                        border: none;
                        color: white;
                        padding: 5px;
                        cursor: pointer;
                        &:first-child{
                            background-color: #5271ff ;
                        }
                        &:last-child{
                            background-color: gray;
                        }
                    }

                }
            }
        }

    }
}