// .products {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }
// .product {
//   boder: 1px #404040 solid;
//   margin: 1rem;
// }
// .product img {
//   width: 100%;
//   max-width: 400px;
// }

// .product-info {
//   padding: 1rem;
// }
// .img-large {
//   width: 1rem;
// }
// .posts {
//   display: flex;
//   flex-direction: column;
//   gap: 50px;
// }

.market {
  background-color: white;
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;

  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 20px;
  width: 15rem;
  .container {
    padding: 20px;
    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .userInfo {
      display: flex;
      gap: 20px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .details {
        display: flex;
        flex-direction: column;
      }
      .name {
        font-weight: 500;
      }
      .date {
        font-weight: 12px;
      }
    }
    .content {
      margin: 20px 0px;
      img {
        max-width: 200px;
        max-height: 100px;
        object-fit: cover;
        margin-top: 20px;
      }
    }
    .info {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      font-size: 14px;
    }
  }
}
.marktes {
  margin-left: 80px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  gap: 15px;
}

#product_price {
  font-size: 1rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #0069ea;
  border: none;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.form-box {
  min-width: 100%;
  height: 100vh;

  /* border: 1px solid red; */
  margin: 0vw;
  padding: 5vw;
  position: relative;
  /* position:relative for .prevBtn and .nextBtn position:absolute; */
}
.form-box h5 {
  font-size: 35px;
  text-align: center;
  color: #f55a00;
  margin: 0 0 0.5vh 0;
}
.form-box label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0;
}
.form-box input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.form-box textarea {
  height: 15vh;
}
.prevBtn,
.nextBtn {
  display: inline-block;
  width: 30%;
  height: 2rem;
  color: red;
  border: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
}

.prevBtn {
  margin: 1rem 0 1rem 0;
  border-radius: 20px 0 0 20px;
}

.nextBtn {
  margin: 1rem 0 1rem 8rem;
  margin-left: 52%;
  border-radius: 0 20px 20px 0;
}

.nextBtn:hover,
.prevBtn:hover {
  background-color: rgb(245, 245, 78);
  transition: 1s background ease;
}

/*margin: top right bottom left;*/
.nextBtn {
  margin-left: 52%;
}
.prevBtn,
.nextBtn {
  margin: 1rem 0 1rem 0;
  display: inline-block;
}
.submitButton {
  background-color: #6976d9;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin: 20px 0px;
  width: 100%;
}

.categorie {
  background-color: #ffffff;
  color: #757575;
  font-family: sans-serif;
  font-size: 20px;
  margin: 20px 0px;
  width: 100%;
}
.catsearchcenter {
  text-align: center;
  margin-bottom: 15px;
}
.categoriehome {
  background-color: #ffffff;
  color: #757575;
  font-family: sans-serif;
  font-size: 20px;
  margin: 10px 0px;
  position: relative;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
}
.search {
  background-color: #ffffff;
  color: #757575;
  font-family: sans-serif;
  font-size: 20px;
  margin: 10px 0px;
  position: relative;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
}
textarea {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    color: #5271ff;
    background-color: transparent;
    border: 2px;
  }
}

//detail

.card {
  height: 350px;
  width: 330px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
   box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(219, 12, 12, 0.38);
  border-radius: 20px;
}
.top_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle {
  display: flex;
}
.circle span {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ccecfe;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid #ccecfe;
}
.circle span:hover {
  border: 2px solid #c7e9ff;
  background-color: #51bdfe;
}
.top_part small {
  height: 25px;
  width: 25px;
  background-color: #efefef;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_part small i {
  margin-top: 2px;
  cursor: pointer;
  transition: all 0.5s;
}
.fa-heart {
  color: red;
  margin-top: 2px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
 max-height: 100px;
 margin-top: 50px;
}
.image img {
  width: 150px;
  margin-bottom: 30px;
}
.vitamin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  float: left;
}
.rating > input {
  display: none;
}
.rating > label {
  position: relative;
  width: 15px;
  font-size: 19px;
  color: #ff0000;
  cursor: pointer;
}
.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}
.rating > input:checked ~ label:before {
  opacity: 1;
}
.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}
.reviews {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.reviews p {
  font-size: 12px;
  font-weight: 700;
  color: #9f9f9f;
}
.reviews u {
  font-size: 11px;
  color: red;
  cursor: pointer;
  transition: all 0.5s;
}
.size p {
  font-size: 12px;
  font-weight: 700;
  color: #9f9f9f;
}
.size h5 {
  margin-top: 10px;
}
.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.buttons button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.buttons button p {
  font-size: 10px;
}

.buttons button:hover {
  background-color: #ffffff;
  color: rgb(41, 50, 219);
}
.card h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.gender {
  margin-top: 10px; 
  display: flex;
  gap: 10px;
  width: 70%;
}
.gender span {
  height: 25px;
  width: 30%;
  background-color: #eff0f2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 700;
  color: #8e8e8e;
}
.gender span:hover {
  background-color: #b4b6b9;
  color: #605c5c;
}
.last_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.qty_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  border-radius: 25px;
  background-color: #eff0f2;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.qty_btn:hover {
  background-color: #9d9fa3;
}
.qty_btn p {
  padding: 0 15px;
  font-weight: 700;
}
.money_bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.money_bag h3 {
  margin-right: 5px;
}
.money_bag button {
  height: 40px;
  width: 100px;
  background-color: #51beff;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.money_bag button:hover {
  background-color: #107bbb;
}
.money_bag button i {
  margin-right: 5px;
}

//detail prod

.proddetail {
  padding: 4% 12%;
  margin-top: 32px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}
.prodimge {
  width: 50%;
  position: relative;


}
.prodimge > img {
  width: 100%;

}
.proddata {
  width: 50%;
}
.Productname {
  color: white;
  font-size: 48px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 30px;
}
.ProdDescription {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 30px;
}
.Feature {
  width: 100px;
  height: 20 px;
  background-color: rgb(41, 50, 219);
  border-radius: 8px;
  border: 0;
  margin-top: 10px;
  text-align: center;
  margin-left: 30px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  font-size: 10px;
  padding: 12px;
}
.ProdPrice {
  color: white;
  margin-left: 30px;
  font-weight: 600;
  font-size: 20px;
}


.ReviewListItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ReviewListItem__Content {
  flex: 1 1 20rem;
  min-width: 0;
  max-width: 100%;
}

.ReviewListItem__MetaData {
  flex: 0 0 15rem;
}


//popup
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.box {
  position: relative;

  background: #fff;
  border-radius: 4px;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  border: 1px solid #999;
}
 
.close-icon {
  content: "x";
  cursor: pointer;
position: absolute;
top: 16px;
right: 16px;
width: 25px;
height: 25px
}
.buttonpopup{
  position: relative;
  left: 510px;
  margin-top: 10px;
  
}
.review_user {
  font-size: 0.8rem;
  color: grey;
  margin-left: 20px;
  margin-bottom: 10px;
}



////dropdown
