  .acceptButton {
      border: none;
      padding: 7px;
      border-radius: 5px;
      background-color: #5271ff;
      font-weight: 500;
      padding-left: 14px;
      padding-right: 14px;
      height: 2rem;
      margin-right: 12px;
      cursor: pointer;
      color: white;
  }

  .acceptButton:hover {
      cursor: pointer;
      color: #5271ff;
      background-color: transparent;
      border: 2px solid #5271ff;
  }

  .declineButton {
      border: none;
      padding: 7px;
      border-radius: 5px;
      background-color: #ff5252;
      font-weight: 500;
      padding-left: 14px;
      padding-right: 14px;
      height: 2rem;
      margin-right: 12px;
      cursor: pointer;
      color: white;
  }

  .declineButton:hover {
      cursor: pointer;
      color: #ff5252;
      background-color: transparent;
      border: 2px solid #ff5252;
  }